*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
}
.container{
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
.container > .main-header{
    background-color: blue;
    color: white;
    width: 100%;
    height: 10rem;
    padding: 3rem;
}
.container > header > i{
    font-size: 1.3rem;
}
.container > main{
    width: 80%;
    background-color: #d3d3d3;
    margin: 0.1rem auto;
    
}
.container > main .section-header{
    width: 100%;
    background-color: blue;
    height: 5rem;
    padding: 1rem;
    color: white;
}
.container > main > section {
    padding: 2rem;
}
.logout{
    width: 89%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}